body {
    font-family: helvetica, arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

a {

    background-color: black;
    padding: 0.5em;
    border-radius: 0.1em;
    text-decoration: none;
    color: red;

}

a:hover {
    background-color: rgb(58, 58, 58);
    color: rgb(215, 63, 63);
}

a:focus {
    background-color: rgb(129, 12, 12);
    color: black;
}

a:active {


    background-color: rgb(134, 73, 73);




}